.info
  h3(class=["info__title", "info__title--blue"])
    | Экскурсия по Петербургу: Сан-Галли - изобретатель русской батареи
  p.info__epigraph
    | Я сижу у батареи,<br>
    | В батарее руки грею,<br>
    | Грею ноги, грею нос,<br>
    | Бр – рр! Я здорово замерз!<br>
p.info__text Это отрывок из стихотворения Агнии Барто, который знает не только любой гид по Петербургу, но и любой турист. Посвящение батарее.
p.info__text Действительно, какое дивное изобретение человечества, особенно для северной столицы. Нам должен быть приятен тот факт, что это наша, отечественная придумка. Правда изобрел ее человек не совсем русский, точнее, совсем нерусский.
p.info__text Вопреки всем его достижениям, всему тому, что он сделал для Российской империи, для некоторых подданных этой империи его фамилия в какой-то момент стала вражеским атрибутом.
p.info__text В мае 1915 года в Москве прошли так называемые немецкие погромы. На улице Кузнецкий мост били витрины магазинов. Досталось и Пассажу Сан-Галли.
p.info__text Как петербургский гид я произношу эту фамилию на французский манер с ударением на последний слог, как Сан-Суси, но она немецкая. А еще точнее – немецко-итальянская.
p(class=["info__text", "info__text--bold"]) Как петербургский гид я произношу эту фамилию на французский манер с ударением на последний слог, как Сан-Суси, но она немецкая. А еще точнее – немецко-итальянская.
p.info__text Во время экскурсии по Петербургу загляните на Лиговский проспект д. 62, где эти батареи изготовлялись. А продавались они на Невском в доме №8.
p.info__text Франц приехал в российскую столицу из захолустного немецкого Штеттина, ныне это польский город Шецин. Поскольку в Петербурге всегда было немало немцев, Франц, пользуясь рекомендациями матушки, довольно быстро осваивается на берегах Невы и устраивается в контору завода Берда. Именно на этом предприятии был в свое произведен первый в России пароход. Попросите вашего гида организовать вам экскурсию вдоль реки Пряжки, и вы увидите то место, где это некогда случилось.
p.info__text Получив непыльную и хорошо оплачиваемую работу Франц начинает кутить и крутить любовные романы. А потом, насытившись успехами бурной молодости, берется за ум, и совершает три действия: принимает православие, женится и, взяв кредит, основывает механическую чугунно-литейную мастерскую.
p.info__text Там-то и появился на свет первый в мире чугунный радиатор, герой нашей экскурсии по Невскому проспекту. Сначала его окрестили словом, ласкающим наш слух&nbsp;– «хайцкёрпер» (горячая коробка), но потом Сан-Галли нашел более подходящее название&nbsp;– батарея.
p(class=["info__text", "info__text--bold"]) Помимо этого Сан-Галли прославился литыми конструкциями и деталями, которые мы можем наблюдать по всему городу, и во время экскурсии по Петербургу вы их сможете увидеть: перила Троицкого моста, ворота Зимнего дворца, решетка Таврического сада, фонари, балконы.
p.info__text Франц Сан-Галли построил для своих рабочих дома, снабженные водопроводом, школу, вокруг были сады, прорезанные аллеями. Немудрено, что на его фабрике не было забастовок.
p.info__text Ну и напоследок история от петербургского гида о туалетах. Общественных, городских. Их не было в XIX в. А потребность, как вы понимаете, была. Кому же мы обязаны их появлением? Францу Сан-Галли.
p.info__text Он был членом Городской Думы, кстати, за эту общественную нагрузку денег тогда не платили. И вот известная в столице куртизанка Дуняша, отправляется на тот свет, оставив после себя немалую сумму денег. Царь отдал их Думе на нужды сирот. Но думцы возмутились, как это так, грязные деньги на благотворительные цели! Не допустим. Больше всех протестовали бывшие Дуняшины клиенты.
p.info__text Александр III логично спросил: «Что же мне их собакам отдать?» И тогда прозвучал голос разума. Сан-Галли предложил оборудовать в городе сеть общественных уборных, новшество невиданное для России.
p.info__text Соломоново решении было принято. На заводе Сан-Галли эти ватерклозеты и изготовили. <span class="info__bold-span">Над Францем Карловичем за это немало глумились, мол ничем не брезгует.</span>
blockquote.info__blockquote Но он не обращал внимания, парируя: «завод может все сделать, и я поддерживал эту репутацию, принимая всякие заказы, как бы трудны они ни были».
p.info__text Спасибо вам, Франц Карлович, за вашу итальянскую фантазию, немецкую дисциплинированность и русскую смекалку и за то, что во время экскурсии по Петербургу любому гиду теперь есть, что рассказать.
