include ../mixins/svg-sprite.pug
.carousel
  div.carousel__stage
    div(class=["carousel__content","carousel__content--stage"] data-jcarousel="true")
      ul
        each val in carouselImgs
          li
            img(src=val alt="")
      a(href="#" class="prev prev-stage" data-jcarouselcontrol="true")
        span 
          +use('img/svgsprites/general-sprite.svg#arrow-left')
      a(href="#" class="next next-stage" data-jcarouselcontrol="true")
        span 
          +use('img/svgsprites/general-sprite.svg#arrow-right')
  .carousel__navigation
    a(href="#" class="prev prev-navigation" data-jcarouselcontrol="true") 
      +use('img/svgsprites/general-sprite.svg#arrow-left')
    a(href="#" class="next next-navigation" data-jcarouselcontrol="true") 
      +use('img/svgsprites/general-sprite.svg#arrow-right')
    div(class=["carousel__content","carousel__content--thimb"] data-jcarousel="true")
      ul
        each val in carouselImgs
          li(data-jcarouselcontrol="true")
            span(style="background-image: url(" + val + ")")
        
            
      
