extends ../extends/form.pug
block title
  | Оставить заявку здесь
block choice
  div.form__input-wrp
    label.form__date-wrp
      input(class=["form__input", "form__input--date"] type="text" data-valid="date" placeholder="Желаемая дата")
