extends ../extends/form.pug
block title
  | Записаться на экскурсию
block choice
  .form__select-wrp
    select.form__select(name="excursions-select")
      option(val="1") 15.06.2017 Крымская война: PR против пушек (Москва)
        option(val="2") 20.06.2017 НеКрымская война
