header.main-header
.main-header__logo
  a: img(src="img/logo.svg" width="68" height="53")
  ul.main-nav
    li: a(href="#") Прислать историю
    li: a(href="#") Регистрация
    li: a(href="#") Экскурсии дешево
    li: a(href="#") Экскурсии дорого
