.history-text
  h3.history-text__title
    | Прислать историю
    p.history-text__info Петербург не только исторический город, но и город историй. Поделитесь с нами вашей историей. Давайте создадим современную летопись северной столицы в режиме on-line.
  img(class="history-text__img" src="img/history-add.jpg")
