.info
  h3.info__title
    | Прислать историю
  img(class="info__img info__img--float" src="img/history-add.jpg" alt="Piter photo")
  p.info__text Петербург не только исторический город, но и город историй. Поделитесь с нами вашей историей. Давайте создадим современную летопись северной столицы в режиме on-line.
  
