include ../mixins/svg-sprite.pug
footer.main-footer
  .wrapper
    .main-footer__content
      .main-footer__social
        .social
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#fb")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#youtube")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#inst")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#vimeo")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#vk")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#google")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#linkedin")
          a.social__item(href="#")
            +use("/img/svgsprites/social-sprite.svg#twitter")
      .main-footer__copyright Санкт-Петербург, 2017
