include ../mixins/svg-sprite.pug
- var menu = { 'Прислать историю': '/history-add.html', 'Регистрация': '#', 'Экскурсии дешево': '/excursions-cheap.html',  'Экскурсии дорого': '/excursions-pricy.html'};
header.main-header
  nav.main-nav
      .wrapper
          .main-nav__content
              .main-nav__logo
                  a(href="index.html"): img(src="img/logo.svg" width="68"   height="53")
              .main-nav__items-wrp
                  ul.main-nav__items
                      each val, key in menu
                          if pageTitle === key
                              li(class=["main-nav__item", "main-nav__item--active"])
                                  a(href='#', title=key)= key
                          else
                              li(class=["main-nav__item"])
                                  a(href=val, title=key)= key
                  button.nav-close(data-close="main-nav")
                      +use('img/svgsprites/general-sprite.svg#icon-close')
              button.nav-toggle(data-nav="main-nav")
                  +use('img/svgsprites/general-sprite.svg#icon-menu')
  .wrapper
    h1.main-title Экскурсии для людей
  
