extends ../extends/main-nav.pug
block menu-item
  li.main-nav__item: a(href="#") Прислать историю
  li.main-nav__item: a(href="#") Регистрация
  li.main-nav__item: a(href="excursions-cheap.html") Экскурсии дешево
  li(class=["main-nav__item", "main-nav__item--active"]): a(href="#") Экскурсии дорого
