.page-bottom
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/buildings.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--dark"]) Здания
      .page-bottom__exp 
        p Невский проспект, дом&nbsp;12
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/buildings_3.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--dark"]) Здания
      .page-bottom__exp 
        p Невский проспект, дом&nbsp;13
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/buildings_2.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--dark"]) Здания
      .page-bottom__exp 
        p Невский проспект, дом&nbsp;14
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/buildings_1.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--dark"]) Здания
      .page-bottom__exp 
        p Невский проспект, дом&nbsp;15
  
      
