include ../mixins/svg-sprite.pug
- var pageMenu = { 'Здания': 'buildings.html', 'Люди': '#', 'Места': '#',  'Маршруты': '#', 'Истории': 'history-add.html'};
.wrapper
  nav.page-nav
      .page-nav__items-wrp
          ul.page-nav__items
              each val, key in pageMenu
                  if pageActive === key
                      li(class=["page-nav__item", "page-nav__item--active"])
                          a(href='#', title=key)= key
                  else
                      li(class=["page-nav__item"])
                          a(href=val, title=key)= key
          button.nav-close(data-close="page-nav")
            +use('img/svgsprites/general-sprite.svg#icon-close')
      if user === 'login'
        .page-nav__user
          span.page-nav__user-icon
            +use('img/svgsprites/general-sprite.svg#user')
          a(class="page-nav__login" href="#") Войти
      else if user === 'logout'
        .page-nav__user
          span.page-nav__user-icon
            +use('img/svgsprites/general-sprite.svg#user')
          span.page-nav__user-name Евгений
          a(class="page-nav__logout" href="#")  (Выход)
      button.nav-toggle(data-nav="page-nav")
          +use('img/svgsprites/general-sprite.svg#icon-menu')
    
