.page-bottom
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/buildings.jpg")
      p.page-bottom__title Здания
      p.page-bottom__exp Невский проспект, дом 12
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/peoples.jpg")
      p.page-bottom__title Люди
      p.page-bottom__exp Фёдор Шаляпин
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/places.jpg")
      p.page-bottom__title Места
      p.page-bottom__exp Контент из раздела Места
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/routs.jpg")
      p.page-bottom__title Места
      p.page-bottom__exp Контент из раздела Маршруты
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/stories.jpg")
      p.page-bottom__title Истории
      p.page-bottom__exp Контент из раздела Истории
    a(class=["page-bottom__link", "page-bottom__link--small"] href="#")
      img(src="img/page-bottom/book.jpg")
      p.page-bottom__exp Купить книгу
    a(class=["page-bottom__link", "page-bottom__link--small"] href="#")
      img(src="img/page-bottom/connect.jpg")
      p.page-bottom__exp Связаться с авторами
      
