.page-bottom
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/buildings.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--dark"]) Здания
      .page-bottom__exp 
        p Невский проспект, дом&nbsp;12
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/peoples.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--light"]) Люди
      .page-bottom__exp 
        p Фёдор Шаляпин
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/places.jpg" alt="")
      p.page-bottom__title Места
      .page-bottom__exp 
        p Контент из раздела Места
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/routs.jpg" alt="")
      .page-bottom__title Маршруты
      .page-bottom__exp 
        p Контент из раздела Маршруты
  .page-bottom__row
    a.page-bottom__link(href="#")
      img(src="img/page-bottom/stories.jpg" alt="")
      p(class=["page-bottom__title", "page-bottom__title--exlight"]) Истории
      .page-bottom__exp 
        p Контент из раздела Истории
    a(class=["page-bottom__link", "page-bottom__link--small"] href="#")
      img(src="img/page-bottom/book.jpg" alt="")
      div(class=["page-bottom__exp", "page-bottom__exp--bold"]) 
        p Купить книгу
    a(class=["page-bottom__link", "page-bottom__link--small"] href="#")
      img(src="img/page-bottom/connect.jpg" alt="")
      div(class=["page-bottom__exp", "page-bottom__exp--bold"])         
        p Связаться с&nbsp;авторами
      
