div.describe
  div(class=["describe__text-wrp", "describe__text-wrp--full"])
    h2.describe__title Экскурсии дорого
    div(class=["describe__image", "describe__image--float"])
      img(src="img/excursions-pricy.jpg" alt="")
    p.describe__text Если вы нанимаете меня персональным гидом, то эта услуга будет стоить от 4000 до 5000 руб/час, включая мой личный автомобиль. Если подобная цена вам не подходит, то вы можете присоединиться к моим групповым экскурсиям.
    p.describe__text Особенность рынка частных гидов в России заключается в отсутствии рынка как такового. Но есть немало людей, которым бы хотелось нанять себе персонального экскурсовода, и чтобы они при этом не уснули. Поиск такого специалиста - лотерея. В отличие от 98,75% гидов в Петербурге и Москве, вы можете сразу же ознакомиться с моим форматом подачи информации, и решить, подходит он вам или нет.
    p.describe__text Если вы нанимаете меня персональным гидом, то эта услуга будет стоить от 4000 до 5000 руб/час, включая мой личный автомобиль. Если подобная цена вам не подходит, то вы можете присоединиться к моим групповым экскурсиям.
    p.describe__text Особенность рынка частных гидов в России заключается в отсутствии рынка как такового. Но есть немало людей, которым бы хотелось нанять себе персонального экскурсовода, и чтобы они при этом не уснули. Поиск такого специалиста - лотерея. В отличие от 98,75% гидов в Петербурге и Москве, вы можете сразу же ознакомиться с моим форматом подачи информации, и решить, подходит он вам или нет.
    p.describe__text Мой персональный автомобиль для туров по городу - Mazda 5, в котором помимо гида может размещаться до 6 человек. Если вам нужна авторская экскурсия по Петербургу или Москве для большой группы, то помимо стоимости услуг персонального гида будет учитываться стоимость аренды транспорта. Также авторская экскурсия может быть уместна во время свадеб и корпоративных мероприятий.
    p.describe__text Тема экскурсии может быть предложена вами, мной, может быть выбрана совместна. Главное, чтобы вы понимали, что поскольку это индивидуальная экскурсия, то мы можем менять маршрут в зависимости от ваших пожеланий прямо во время нашего тура по городу. Выбирая себе частного гида, вы выбираете не поводыря с заученными текстами, а собеседника, задача которого увлечь вас историей и культурой двух столиц. Поэтому я продаю знания и впечатления. Моя задача, чтобы после моих экскурсий вы не только остались бы довольны самим туром, но и вынесли определенный багаж знаний, для чего я использую собственную методику.
    p(class=["describe__text", "describe__text--italic"]) Если, выбирая гида по Петербургу или Москве, вы остановили свой выбор на мне, то можете связаться со мной любым удобным для вас способом:
    p.describe__contact +7 (921) 448-18-69
    p.describe__contact 
      a(href="mailto:pavelperetz@gmail.com") pavelperetz@gmail.com
    p.describe__contact 
      a(href="https://vk.com/p.peretz") https://vk.com/p.peretz


  
