div.excursions-describe
  h2.excursions-describe__title Экскурсии дешево
  .excursions-describe__content
    div.excursion-describe__image
      img(src="img/excursions-cheap.jpg")
    .excursions-describe__text-wrp
      p.excursions-describe__text На сегодняшний день в моем арсенале более 100 авторских маршрутов по Петербургу и пригородам. Также регулярно проводятся экскурсии в Москве. В холодное время года в двух столица проходят неформальные лекции.
      p.excursions-describe__text Средняя продолжительность пешей экскурсии по Петербургу или Москве - 1,5 часа. Стоимость - 500 руб. Поскольку у меня как гида большой опыт экскурсий для детей от десяти лет и старше, то вы можете брать их с собой.
      p.excursions-describe__text Весной, летом и осенью экскурсии в Петербурге проходят, как правило, каждое воскресенье в 15:00. В Москве проходят две экскурсии: в 13:00 и в 16:00 обычно в субботу, но не чаще двух раз в месяц. Для удобства пользователей анонсы экскурсий по Петербургу и Москве вывешиваются в VK, где вы можете вступить в <a href="#">группу</a>, и в FB, где вы можете подписаться на мою <a href="#">страницу</a>.
      p.excursions-describe__text С форматом экскурсий и манерой подачи меня как гида вы можете ознакомиться, посмотрев любое видео на эту тему на моем канале в соответствующем плейлисте. Если вы хотите заказать индивидуальную экскурсию и нанять меня как гида частного, то можете перейти в раздел <a href="#">"Экскурсии дорого"</a>.
    
