@import "../node_modules/normalize.less/normalize.less";
@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/wrapper.less";
@import "blocks/main-header.less";
@import "blocks/main-nav.less";
@import "blocks/page-nav.less";
@import "blocks/main-title.less";
@import "blocks/main-content.less";
@import "blocks/excursions-describe.less";
@import "blocks/form.less";
@import "blocks/page-bottom.less";
@import "blocks/social.less";
@import "blocks/datepicker.less";
@import "blocks/main-footer.less";

body {
    background-color: @blue;
    box-sizing: border-box;
    font-family: 'PFDinDisplayPro', sans-serif;
    color: @text-color;
}

* {
    box-sizing: border-box;
}
