div.excursions-describe
  .excursions-describe__text-wrp
    h2.excursions-describe__title
      block excursions-title
    block excursions-text
  div.excursion-describe__image
    block excursions-img
