doctype html
html
  - var pageTitle = "Здания"
  - var map = 1;
  include includes/head.pug
  body
    include includes/main-header.pug
    - var pageActive = 'Здания';
    - var user = 'login';
    include includes/page-nav.pug
    .wrapper
      h2.page-title
        | Невский проспект, дом 8
      div(class=["intro", "intro--flex"])
        div(class="intro__map" id="building-map")
        .intro__slider
          - var carouselImgs = ['img/building-1.jpg', 'img/building-2.jpg', 'img/building-3.jpg', 'img/building-4.jpg', 'img/building-5.jpg'];
          include includes/carousel.pug
      main.main-content
        include includes/building-info.pug
        include includes/paginator.pug
        include includes/comment.pug
        form.form(name="comment" action="/" method="post")
          include includes/form-comment.pug
      include includes/page-bottom--buildings.pug
    include includes/main-footer.pug    
        
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="vendor/jCarousel/jquery.jcarousel.min.js")
    script(src="js/main.min.js")
    script(src="js/carousel.min.js")
    script(src="js/map-building.min.js")
