doctype html
html
  - var pageTitle = "Здания"
  include includes/head.pug
  body
    include includes/main-header.pug
    - var pageActive = 'Здания';
    - var user = 'login';
    include includes/page-nav.pug
    .wrapper
      main.main-content
        include includes/building-info.pug
        include includes/paginator.pug
        include includes/comment.pug
        form.form(name="comment" action="/" method="post")
          include includes/form-comment.pug
        
        
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="js/main.min.js")
