doctype html
html
  - var pageTitle = "Экскурсии дорого"
  include includes/head.pug
  body
    include includes/main-header.pug
  .wrapper
    main.main-content
      include includes/text-pricy.pug
      form.form(name="pricy-excursion" action="/" method="post")
        include includes/form-pricy.pug
    include includes/page-bottom.pug
  include includes/main-footer.pug
  
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="vendor/inputmask/jquery.maskedinput.min.js")
  script(src="js/main.min.js")
  script(src="js/form.min.js")

  
