doctype html
html
  head
    title Питер экскурсии
    link(rel="stylesheet" href="css/style.min.css")
  body
    header.main-header
      include includes/main-nav.pug
      include includes/main-title.pug
  .wrapper
    main.main-content
      include includes/text-cheap.pug
      form.form(name="cheap-excursion" action="/" method="post")
        include includes/form-cheap.pug
    include includes/page-bottom.pug
  include includes/main-footer.pug
  script(src="js/main.min.js")

  
