doctype html
html
  - var pageTitle = "Прислать историю"
  include includes/head.pug
  body
    include includes/main-header.pug
    - var pageActive = 'Истории';
    - var user = 'logout';
    include includes/page-nav.pug
    .wrapper
      main.main-content
        include includes/history-text.pug
        form.form(name="add-history" action="/" method="post")
          include includes/form-history.pug
      
      include includes/page-bottom.pug
  include includes/main-footer.pug
  script(src="js/main.min.js")
