doctype html
html
  - var pageTitle = "Прислать историю"
  include includes/head.pug
  body
    header.main-header
      include includes/main-nav.pug
      include includes/main-title.pug
    .wrapper
      main.main-content
