doctype html
html
  - var pageTitle = "Добавить историю"
  include includes/head.pug
  body
    header.main-header
      include includes/nav-cheap.pug
      include includes/main-title.pug
    .wrapper
      main.main-content
