doctype html
html
  - var pageTitle = "Санкт-Петербург"
  include includes/head.pug
  body
    .wrapper
      h1.main-title List of pages of Piter Excursions site  
  .wrapper
    .intro
      ol.list-pages
        li
          a(href="main.html" target="_blank") Main page
        li
          a(href="buildings.html" target="_blank") Buildings
        li
          a(href="excursions-cheap.html" target="_blank") Cheap Excursions 
        li
          a(href="excursions-pricy.html" target="_blank") Pricy Excursions 
        li
          a(href="history-add.html" target="_blank") Add history
        
      
      

  
    
  script(src="js/main.min.js")
  

  
