/** Stage container **/
.carousel__stage {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
/** Navigation container **/
.carousel__navigation {
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
    position: relative;
    background-color: @text-color;
}
/** Shared carousel styles **/
.carousel__content {
    overflow: hidden;
    position: relative;

    ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        img {
            max-width: 100%;
        }
    }
}
/** Stage carousel specific styles **/
.carousel__content--stage {
    height: 265px;
    background-color: @text-color;
    li {
        width: 600px;
        img {
            margin: 0 auto;
            display: block;
        }
    }
}
/** Navigation carousel specific styles **/
.carousel__content--thimb {
    height: 94px;
    width: 100%;


    li {
        cursor: pointer;
        width: 95px;
        height: 95px;
        border: 5px solid @text-color;
        overflow: hidden;
        margin: 0 5px;
        background-size: cover;
        background-position: top center;
    }

    li img {
        display: block;
        max-width: 100%;
    }

    li.active{
        border-color: @orange;
    }
}
/** Stage carousel controls **/
.next-stage,
.prev-stage {
    display: block;
    position: absolute;
    top: 0;

    bottom: 0;
    color: #fff;
}

.prev-stage {
    left: 0;
    right: 50%;
}

.next-stage {
    right: 0;
    left:50%;
}

.next-stage.inactive,
.prev-stage.inactive {
    display: none;
}

.next-stage span,
.prev-stage span {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 41px;
    text-decoration: none;
    svg {
        width: 14px;
        height: 41px;
    }
}

.prev-stage span {
    left: 20px;
}

.next-stage span {
    right: 20px;
}

.next-stage:hover span,
.prev-stage:hover span {
    display: block;
}
/** Navigation carousel controls **/
.next-navigation,
.prev-navigation {
    display: block;
    position: absolute;
    width: 14px;
    height: 41px;
    top: 50%;
    transform: translateY(-50%);
    svg {

        width: 14px;
        height: 41px;
    }
}

.prev-navigation {
    left: 5px;
}

.next-navigation {
    right: 5px;
}

.next-navigation.inactive,
.prev-navigation.inactive {
    opacity: 0.5;
    cursor: default;
}
