.form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form__title {
    margin-bottom: 34px;

    h4 {
        font-size: 33px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    a {
        font-size: 27px;
        color: @blue;
        text-decoration: none;
        transition: @transition;

        &:hover {
            color: @blue-light;
        }
    }
}

.form__input-wrp {
    margin-bottom: 26px;
    max-width: 490px;
    label {
        display: block;
        font-size: 26px;
        color: #a7a9ac;
    }
}
.form__input-wrp--full {
    max-width: 100%;
}

.form__input {
    border: 1px solid rgba(59,162,180,0.6);
    background-color: rgba(226,243,248,0.6);
    padding: 12px;
    font-family: 'PFDinDisplayPro', sans-serif;
    font-size: 26px;
    width: 100%;
}

.form__select-wrp {
    position: relative;
    margin-bottom: 26px;
    background-color: rgba(226,243,248,0.6);
    border: 1px solid rgba(59,162,180,0.6);

    &::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        background-color: @blue;
        right: 0;
        width: 47px;
        background-image: url("../img/select.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px 13px;
        z-index: 1;
    }
    z-index: 1;
}

.form__select {
    padding: 12px;
    font-size: 26px;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    padding-right: 47px;
    -moz-appearance: none;
    font-family: 'PFDinDisplayPro', sans-serif;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
    outline: none;
    color: @text-color;
    position: relative;
    z-index: 2;
    background-color: transparent;

    option {
        padding-left: 13px;
    }
}

.form__btn-wrp {
    text-align: right;

}
.form__btn {
    background-color: @blue;
    color: #ffffff;
    border:none;
    outline: none;
    padding: 7px 52px;
    font-size: 27px;
    font-weight: 300;
    cursor: pointer;
    transition: @transition;
    &:hover {
        background-color: @blue-light;
    }
}
