.info__title {
    font-size: 45px;
    font-weight: 500;
    color: @text-color-gray;
    margin-bottom: 55px;
}

.info__title--blue {
    font-size: 30px;
    color: @blue;
    margin-bottom: 34px;
}

.info__text {
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
}

.info__text--bold {
    font-weight: 600;
}

.info__bold-span {
    font-weight: 600;
}

.info__blockquote {
    background-color: #3e818f;
    color: #ffffff;
    margin: 0;
    font-size: 23px;
    font-weight: 600;
    font-style: italic;
    padding: 35px 24px;
    position: relative;
    &::before, &::after {
        position: absolute;
        content: "";
        width: 28px;
        height: 21px;
        background-image: url('../img/blockquote.svg');
        background-size: 28px 21px;
        left: 7px;
        top: 10px;
    }
    &::after {
        left: auto;
        top: auto;
        right: 7px;
        bottom: 10px;
        transform: rotate(180deg)
    }
}

.info__img--float {
    width: 45%;
    float: right;
    margin-left: 20px;
    margin-top: -100px;
}

.info__epigraph {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    line-height: 33px;
}

@media (max-width: 900px) {
    .info__img--float {
        float: none;
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 460px;
    }
}
