.intro {

  position: relative;
}

.intro--flex {
  display: flex;
}

.intro__map {
  width: 50%;
  height: 379px;
  background-image: url('../img/map-building-bg.jpg');
  background-size: cover;
}

.intro__slider {
  width: 50%;
}

.intro__map--big {
  width: 100%;
  height: 480px;
  background-image: url('../img/map-index-bg.jpg');
  background-size: cover;
}

@media (max-width: 1000px) {
  .intro--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro__slider {
    width: 100%;
    max-width: 600px;
  }
  .intro__map {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  .intro__map--big {
    max-width:none; 
  }
}

@media (max-width: 768px) {
  .intro__map--big {

    height: 320px;
  }
}
