.page-bottom__row {
    display: flex;
    flex-wrap: wrap;
}

.page-bottom__link {
    width: 50%;
    position: relative;
    transition: @transition;
    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 4;
    }
    &:hover {
        opacity: 0.8;
    }
}

.page-bottom__link--small {
    width: 25%;
}

.page-bottom__title {
    position: absolute;
    background-color: #165d6d;
    color: @white;
    width: 172px;
    font-size: 32px;
    padding: 7px 0;
    text-align: center;
    z-index: 5;
    margin: 0;
    top: 0;
    right: 25px;
    z-index: 6;
}

.page-bottom__title--dark {
    background-color:  @blue;
}
.page-bottom__title--light {
    background-color:  #3ba2b4;
}
.page-bottom__title--exlight {
    background-color: #5fa8b4;
}

.page-bottom__exp {
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    font-family: 'Garamond', serif;
    font-size: 40px;
    color: @white;
    bottom: 0;
    padding: 5px 5%;
    display: flex;
    min-height: 140px;
    align-items: center;
    left:0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 30%;
    p {
        margin: 0;
    }
}

.page-bottom__exp--bold {
    font-size: 38px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .page-bottom__link {
        width: 100%;
    }

    .page-bottom__link--small {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .page-bottom__link--small {
        width: 100%;
    }

    .page-bottom__title {
        font-size: 20px
    }

    .page-bottom__exp {
        font-size: 30px;
        min-height: 120px;
    }
}
